# Name: Plugin Test
# Author: Merijn van Erp
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>Nucleus Annotation 3D, "Nucleus Annotation 3D", Nucleus_Picker3D
# Plugins, "Mig_Gen", Mig_Gen
Plugins>Nucleus Annotation 3D, "Spheroid Annotation 3D", Spheroid_Picker3D
Plugins>Nucleus Annotation 3D, "Sphere Blocker", Sphere_Blocker
