# Name: Cell Migration Analyser 3D
# Author: Merijn van Erp
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>Cell Migration Analyser 3D, "Marker Image Creator 3D", markerimagecreator.Marker_Image_Creator_3D
Plugins>Cell Migration Analyser 3D, "Marker Controlled Watershed 3D", watershedsegmentation.Marker_Controlled_Watershed_3D
Plugins>Cell Migration Analyser 3D, "Feature Extractor 3D", featureextractor.Feature_Extractor_3D
Plugins>Cell Migration Analyser 3D, "-"
Plugins>Cell Migration Analyser 3D, "Measurement Configuration", configuration.Measurement_Selector
# Plugins>Cell Migration Analyser 3D, "Data Analyser", dataanalyser.Data_Analyser
Plugins>Cell Migration Analyser 3D, "Data Aggregator", dataanalyser.Data_Aggregator


